$app-white: white;
$app-very-light-gray: #e6e6e6;
$app-light-gray: #eee;
$app-silver: #aeaeae;
$app-medium-gray: #aaa;
$app-dim-gray: #525252;
$app-charcoal-gray: #505050;
$app-dark-gray: #444;
$app-black: black;
$app-light-teal: #5796b7;
$app-teal: #369;
$app-steel-blue: #405061;
$app-dark-teal: #264c72;
$app-dark-slate-blue: #2c3a41;
