$extra-large-screen-min-width: 1200px;

$large-screen-min-width: calc(#{$extra-large-screen-min-width} - 1px);
$large-screen-min-width: 1200px;

$medium-screen-min-width: calc(#{$large-screen-min-width} - 1px);
$medium-screen-min-width: 992px;

$small-screen-max-width: calc(#{$medium-screen-min-width} - 1px);
$small-screen-min-width: 768px;

$extra-small-screen-max-width: calc(#{$small-screen-min-width} - 1px);







