<mat-card class="employee-detail" *ngIf="employee">
  <mat-card-header>
    <mat-card-title class="employee-detail__full-name">
      <h2>
        {{ employee.name | uppercase }}
        {{ employee.surname | uppercase }}
        {{ "employee.detail.details" | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="employee-detail__form"
      [formGroup]="employeeProfileForm"
      (ngSubmit)="updateEmployeeProfile()"
    >
      <mat-form-field class="employee-detail__form-field">
        <mat-label for="name"
          ><span>{{ "employee.detail.name" | translate }}: </span></mat-label
        >
        <input matInput id="name" type="text" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="employee-detail__form-field">
        <mat-label for="surname"
          >{{ "employee.detail.surname" | translate }}:
        </mat-label>
        <input matInput id="surname" type="text" formControlName="surname" />
      </mat-form-field>

      <mat-form-field class="employee-detail__form-field">
        <mat-label for="employmentDatePicker"
          ><span
            >{{ "employee.detail.employment.date" | translate }}:
          </span></mat-label
        >
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="employmentDate"
          id="employmentDatePicker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="employee-detail__form-field">
        <mat-label for="managerSelect">
          {{ "employee.detail.manager.manager" | translate }}
        </mat-label>
        <mat-select formControlName="managerId" id="managerSelect">
          <mat-option [value]="undefined">-</mat-option>
          <mat-option
            *ngFor="let manager of determineListOfPossibleManagers()"
            [value]="manager.id"
          >
            {{ manager.name }} {{ manager.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div formArrayName="listOfSkills">
        <h3>{{ "employee.detail.skills.skills" | translate }}:</h3>
        <div
          *ngFor="let skillControl of listOfSkills.controls; let index = index"
        >
          <mat-form-field
            id="skill-{{ index }}"
            class="employee-detail__form-field"
          >
            <mat-label
              >{{ "employee.detail.skills.skill" | translate }}
              {{ index + 1 }}</mat-label
            >
            <input
              type="text"
              placeholder="{{ 'employee.detail.skills.skill' | translate }}"
              matInput
              [formControlName]="index"
              [matAutocomplete]="skillAuto"
            />
            <mat-autocomplete #skillAuto="matAutocomplete">
              <mat-option
                *ngFor="
                  let possibleSkill of findSkillsForAutocomplete(
                    employee.listOfSkills[index],
                    skillControl
                  )
                "
                [value]="possibleSkill"
              >
                {{ possibleSkill }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            mat-icon-button
            color="accent"
            type="button"
            attr.aria-label="- {{
              'employee.detail.skills.remove' | translate
            }}"
            (click)="removeSkillAt(index)"
          >
            <mat-icon
              ><span class="material-symbols-outlined">
                do_not_disturb_on
              </span></mat-icon
            >
          </button>
        </div>
        <button
          mat-icon-button
          color="accent"
          type="button"
          attr.aria-label="+ {{ 'employee.detail.skills.add' | translate }}"
          (click)="addSkillControlIfNeeded()"
        >
          <mat-icon>
            <span class="material-symbols-outlined"> add_circle </span>
          </mat-icon>
        </button>
      </div>
      <div formArrayName="listOfProjects">
        <h3>{{ "employee.detail.projects.projects" | translate }}:</h3>
        <div
          *ngFor="
            let projectControl of listOfProjects.controls;
            let index = index
          "
        >
          <mat-form-field
            id="project-{{ index }}"
            class="employee-detail__form-field"
          >
            <mat-label for="project-index"
              >{{ "employee.detail.projects.project" | translate }}
              {{ index + 1 }}</mat-label
            >
            <input
              id="project-index"
              type="text"
              placeholder="{{ 'employee.detail.projects.project' | translate }}"
              matInput
              [formControlName]="index"
              [matAutocomplete]="projectAuto"
            />

            <mat-autocomplete #projectAuto="matAutocomplete">
              <mat-option
                *ngFor="
                  let possibleProject of findProjectsForAutocomplete(
                    employee.listOfProjects[index],
                    projectControl
                  )
                "
                [value]="possibleProject"
              >
                {{ possibleProject }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            mat-icon-button
            color="accent"
            type="button"
            attr.aria-label="- {{
              'employee.detail.projects.remove' | translate
            }}"
            (click)="removeProjectAt(index)"
          >
            <mat-icon
              ><span class="material-symbols-outlined">
                do_not_disturb_on
              </span></mat-icon
            >
          </button>
        </div>
        <button
          mat-icon-button
          color="accent"
          type="button"
          attr.aria-label="+ {{ 'employee.detail.projects.add' | translate }}"
          (click)="addProjectControlIfNeeded()"
        >
          <mat-icon>
            <span class="material-symbols-outlined"> add_circle </span>
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="
          employeeProfileForm.invalid ||
          (!wasProjectControlRemoved &&
            !wasSkillControlRemoved &&
            employeeProfileForm.pristine)
        "
        (click)="updateEmployeeProfile()"
      >
        {{ "employee.detail.submit" | translate }}
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="resetForm()"
        [disabled]="
          checkIfLastProjectAndSkillAreNotEmpty() &&
          employeeProfileForm.pristine
        "
      >
        {{ "employee.detail.undo" | translate }}
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="removeEmployeeProfile(employee.id)"
      >
        {{ "employee.detail.remove" | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
