<div class="employee-detail__info" *ngIf="employee">
  <h2 class="employee-detail__full-name">
    {{ employee.name | uppercase }}
    {{ employee.surname | uppercase }} Details
  </h2>
  <form
    class="employee-detail__form"
    [formGroup]="employeeProfileForm"
    (ngSubmit)="updateEmployeeProfile()"
  >
    <div>
      <label for="name">Name: </label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div>
      <label for="surname">Surname: </label>
      <input id="surname" type="text" formControlName="surname" />
    </div>
    <div>
      <label for="employmentDate">Employment date: </label>
      <input id="employmentDate" type="date" formControlName="employmentDate" />
    </div>
    <div>
      <label for="manager">Manager: </label>
      <select name="manager" id="manager" formControlName="managerId">
        <option value="none" disabled>Choose a manager</option>
        <option value="null">-</option>
        <option
          *ngFor="let manager of determineListOfPossibleManagers()"
          [ngValue]="manager.id"
        >
          {{ manager.name }} {{ manager.surname }}
        </option>
      </select>
    </div>
    <div formArrayName="listOfSkills">
      <h3>Skills:</h3>
      <div
        *ngFor="let skillControl of listOfSkills.controls; let index = index"
      >
        <label for="skill-{{ index }}">Skill:</label>
        <select
          name="skill-{{ index }}"
          id="skill-{{ index }}"
          [formControlName]="index"
        >
          <option
            *ngFor="let possibleSkill of possibleSkillsList"
            [ngValue]="possibleSkill"
          >
            {{ possibleSkill }}
          </option>
        </select>
        <button type="button" (click)="removeSkillAt(index)">
          - Remove skill
        </button>
      </div>
      <button type="button" (click)="addSkillControlIfNeeded()">
        + Add another skill
      </button>
    </div>
    <div formArrayName="listOfProjects">
      <h3>Projects:</h3>
      <div
        *ngFor="
          let projectControl of listOfProjects.controls;
          let index = index
        "
      >
        <label for="project-{{ index }}">Project:</label>
        <select
          name="project-{{ index }}"
          id="project-{{ index }}"
          [formControlName]="index"
        >
          <option
            *ngFor="let possibleProject of possibleProjectsList"
            [ngValue]="possibleProject"
          >
            {{ possibleProject }}
          </option>
        </select>
        <button type="button" (click)="removeProjectAt(index)">
          - Remove project
        </button>
      </div>
      <button type="button" (click)="addProjectControlIfNeeded()">
        + Add another project
      </button>
    </div>
    <div>
      <button type="submit" [disabled]="employeeProfileForm.invalid">
        Submit
      </button>
      <button type="button" (click)="removeEmployeeProfile(employee.id)">
        Remove
      </button>
    </div>
  </form>
</div>
