<mat-toolbar class="navbar">
  <button class="navbar__link-menu"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    attr.aria-label="{{ 'navigation.language' | translate }}"
    [matMenuTriggerFor]="linkMenu"
  >
    <mat-icon class="material-symbols-outlined"> menu </mat-icon>
  </button>
  <mat-menu #linkMenu="matMenu">
    <a mat-menu-item routerLink="/{{ ROUTE_PATHS.DASHBOARD }}"
    ><span>{{ "navigation.dashboard" | translate }}</span></a
    >
    <a mat-menu-item routerLink="/{{ ROUTE_PATHS.EMPLOYEES }}"
    ><span>{{ "navigation.employee" | translate }}</span></a
    >
  </mat-menu>
  <a mat-button class="navbar__link" routerLink="/{{ ROUTE_PATHS.DASHBOARD }}"
    ><span>{{ "navigation.dashboard" | translate }}</span></a
  >
  <a mat-button class="navbar__link" routerLink="/{{ ROUTE_PATHS.EMPLOYEES }}"
    ><span>{{ "navigation.employee" | translate }}</span></a
  >
  <span class="navbar__spacer"></span>
  <button
    mat-icon-button
    matTooltip="{{ 'navigation.language' | translate }}"
    attr.aria-label="{{ 'navigation.language' | translate }}"
    [matMenuTriggerFor]="languageMenu"
  >
    <mat-icon class="material-symbols-outlined"> language </mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let language of languages"
      [disabled]="translateService.currentLang === language"
      (click)="setTranslationLanguage(language)"
    >
      {{ language }}
    </button>
  </mat-menu>
  <button
    mat-icon-button
    matTooltip="{{ 'navigation.messages' | translate }}"
    attr.aria-label="{{ 'navigation.messages' | translate }}"
    [matMenuTriggerFor]="messageMenu"
  >
    <mat-icon
      class="material-symbols-outlined"
      matBadge="{{ (messageService.count | async) ?? '' }}"
      aria-hidden="false"
    >
      notifications
    </mat-icon>
  </button>
  <mat-menu #messageMenu="matMenu">
    <ng-template matMenuContent>
      <app-messages></app-messages>
    </ng-template>
  </mat-menu>
  <a
    mat-icon-button
    matTooltip="{{ 'navigation.log.in' | translate }}"
    attr.aria-label="{{ 'navigation.log.in' | translate }}"
    routerLink="/{{ ROUTE_PATHS.LOGIN }}"
    *ngIf="!authenticationService.isUserLoggedIn()"
  >
    <mat-icon class="material-symbols-outlined" aria-hidden="false">
      login
    </mat-icon>
  </a>
  <button
    mat-icon-button
    matTooltip="{{ 'navigation.log.out' | translate }}"
    attr.aria-label="{{ 'navigation.log.out' | translate }}"
    (click)="logOut()"
    *ngIf="authenticationService.isUserLoggedIn()"
  >
    <mat-icon class="material-symbols-outlined" aria-hidden="false">
      logout
    </mat-icon>
  </button>
</mat-toolbar>
