$navbar-height: 6rem;
$container-padding: 10px;
$container-width: 90%;
$flex-gap: 5rem;

.app-container__content {
  width: $container-width;
  margin: $navbar-height auto 0 auto;
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: $flex-gap;
}
