<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__element">
      <button
        mat-stroked-button
        class="navbar__button"
        color="accent"
        type="button"
        (click)="setTranslationLanguage('en')"
      >
        <span class="navbar__button-content">en</span>
      </button>
    </li>
    <li class="navbar__element">
      <button
        mat-stroked-button
        class="navbar__button"
        color="accent"
        type="button"
        (click)="setTranslationLanguage('pl')"
      >
        <span class="navbar__button-content">pl</span>
      </button>
    </li>
  </ul>
</nav>
