<mat-toolbar class="navbar">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar__flex-expand"></span>

  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <span class="material-symbols-outlined"> language </span>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let language of languages"
      [disabled]="translateService.currentLang === language"
      (click)="setTranslationLanguage(language)"
    >
      {{ language }}
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="messagesMenu">
    <span
      class="material-symbols-outlined"
      matBadge="{{ messageService.count | async }}"
      [matBadgeHidden]="
        (messageService.count | async) !== null &&
        (messageService.count | async)! < 1
      "
    >
      notifications
    </span>
  </button>
  <mat-menu #messagesMenu="matMenu">
    <ng-template matMenuContent>
      <app-messages></app-messages>
    </ng-template>
  </mat-menu>
</mat-toolbar>
