@import "../../../styles/colors";
@import "../../../app.component";
$navbar-padding: 3px;
$navbar-border-bottom: 1px;
$element-margin: 3px;
$button-width: 3.5rem;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: $navbar-height;
  padding: $navbar-padding;
  background-color: $app-dim-gray;
  border-bottom: $navbar-border-bottom solid $app-medium-gray;

  &__nav {
    height: 100%;
  }

  &__flex-expand {
    flex: 1 1 auto;
    text-align: center;
  }
  &__element {
    margin: $element-margin;
  }

  &__button {
    margin: 0;
    width: $button-width;
  }
}
