@import "../../../styles/colors";
@import "../../../app.component";
$navbar-padding: 3px;
$navbar-border-bottom: 1px;

$element-margin: 3px;
$button-width: 3.5rem;

.navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: $navbar-height;
  padding: $navbar-padding;
  background-color: $app-dim-gray;
  border-bottom: $navbar-border-bottom solid $app-medium-gray;

  &__list {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__element {
    margin: $element-margin;
  }

  &__button {
    margin: 0;
    width: $button-width;
  }
}
