$app-very-light-gray: #e6e6e6;
$app-light-gray: #eee;
$app-medium-gray: #aaa;
$app-dim-gray: #525252;
$app-charcoal-gray: #505050;
$app-dark-gray: #444;
$app-steel-blue: #405061;
$app-teal: #369;
$app-dark-slate-blue: #2c3a41;
