@import "app/styles/colors";
@import "app/styles/buttons";
@import "app/styles/headers";

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
  margin: 2rem;
}

body {
  margin: 2rem;
}
