@import "app/styles/colors";
@import "app/styles/buttons";
@import "app/styles/headers";

$font-size: 10px;
$body-margin: 8px;

html {
  font-size: $font-size;
  margin: $body-margin;
  color: $app-white;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.spinner {
  margin: auto auto;
}
