<article class="employee">
  <header class="employee__header">
    <h1>Employee info</h1>
  </header>
  <ul class="employee__list">
    <li class="employee__list-element" *ngFor="let employee of employeeList">
      <button
        class="employee__list-button"
        [class.employee__list-button--selected]="employee === selectedEmployee"
        type="button"
        (click)="onSelect(employee)"
      >
        <span class="employee__full-name-select"
          >{{ employee.name }} {{ employee.surname }}</span
        >
      </button>
    </li>
  </ul>
  <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
</article>
