<div class="employee-search">
  <mat-form-field class="employee-search__bar">
    <mat-label>{{ "employee.search" | translate }}</mat-label>
    <input
      #searchBox
      type="text"
      matInput
      [matAutocomplete]="auto"
      (input)="search(searchBox.value)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let employee of employees$ | async"
        routerLink="/{{ SHOW_EMPLOYEE }}/{{ employee.id }}"
      >
        {{ employee.name }} {{ employee.surname }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
